<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merhaba</h1>
    <p>
      Tanıdığınız biri size şöyle bir itirafta bulundu: <br>
    </p>
    <p>
      <%= @shame %>
    </p>
    <p>
      Bir de şöyle bir eki var:
    </p>
    <p>
      <%= @choice %>
    </p>
    <p>Elçiye zeval olmaz!</p>
  </body>
</html>