<header class="top-header">
    <div class="wrapper">
        <a class="logo" href="/">
          <%= link_to(image_tag("logo.gif"), root_path, size: "210x110") %>
        </a>
        <ul class="right-menu">
            <li>
              <%= link_to "Hakkımızda", shame_pages_about_path %>
            </li>
        </ul>
    </div><!-- .wrapper -->
</header>