<div class="wrapper content">
  <h1>Bize nasıl güvenebilirsin?</h1>
  <h2>En büyük sırlarını birilerine iletmek için bizi seçmen büyük incelik. Her şeyden önce çok teşekkürler!
    <br />Aklında "Size neden güveneyim ki?" gibi haklı bir soru varsa, şöyle yardımcı olmayı deneyebiliriz:</h2>
  <h2>Cookie ya da IP gibi sana ait bilgilerin hiçbirini saklamıyoruz.</h2>
  <h2>Senin kim olduğunla ilgilenmiyoruz. Daha ziyade kime ne demek istediğin bizi ilgilendiriyor.</h2>
  <h2>Yollamak istediğin sırrı, bize verdiğin e-posta adresine göndermek dışında hiçbir şey yapmıyoruz.</h2>
  <h2>Para kazanmak gibi bir amacımız yok, bu işi eğlencesine yapıyoruz.</h2>
  <h2>Bize inanmıyorsan, <%= link_to "kaynak kodlarımıza", "http://github.com", target: "blank" %> bakabilirsin.</h2>
</div>