<h1>Gizli kapaklı işler gerçekleşti</h1>
  <div class="wrapper content">
    <div class="success-wrap">
        <i class="flaticon-check"></i>
      <p><%= @email %> e-posta adresli kişiye itirafınızı içeren anonim bir e-posta yolladık.<br>Ne diyelim, hakkınızda hayırlısı...</p>
    </div>
    <%= link_to "BİR İTİRAFIM DAHA VAR", root_path, class: "success-btn" %>
</div><!-- .wrapper -->